# txAdmin / FiveM runtime
cache/
crashes/
logs/
admins.json

# txAdmin metadata
*.bkp

# Server config (secrets)
server.cfg
*.cfg

# Default FiveM resources
resources/\[cfx-default\]/
resources/\[defaultmaps\]/

# Node / build junk
node_modules/
dist/
build/

# OS / Editor
.DS_Store
.vscode/
.idea/
.replxx_history
